<div class="row">
    <div *ngFor="let task of tasks" class="col-sm-4 task-item">
        <div class="card">
            <div class="card-body">
            <div class="card-title">{{task.description}}</div>
            <h6 class="card-subtitle mb-2 text-muted">{{task.category.name}}</h6>
            <div class="priority">
                <p>Priority:</p>
                <progress [value]="task.priority" max="5"></progress>
            </div>
            <div class="task-tags">
                <span *ngFor="let tag of task.tags" 
                class="badge badge-primary" [ngStyle]="{'background-color': tag.color}">
                    {{tag.name}}</span>
            </div>
            <div class="task-date">
                <p>Date: <span [innerHTML]="task.date"></span></p>
                </div>
        </div>
        </div>
    </div>
</div>
